/* src/app/solutions/page.module.css */

.backgroundContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Places it behind the text content */
}

/* Use :global() to style the #lights div rendered by the
  HyperSpeed component from within this CSS module.
*/
.backgroundContainer :global(#lights),
.backgroundContainer :global(canvas) {
  width: 100%;
  height: 100%;
}