/* src/components/Header.module.css */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: #4baaf3; /* your brand blue */
}

.brand {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.brandName {
  margin-left: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
}

.nav{
  display: flex;
  gap: 4rem;
  margin-right: 2rem;
}

.nav a {
  margin-left: 0;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav a:hover {
  text-decoration: underline;
}

